@use "@/globalStyles/variables" as *;

%shared-styles {
  display: flex;
  flex-direction: column;
}
.form {
  width: 650px;
  @extend %shared-styles;
  justify-content: center;
  background: #fff;
  padding: 40px 45px;
  border-radius: 10px;
  @include breakpoint(small) {
    width: 335px;
    padding: 20px 25px;
    gap: 20px;
  }
}
.form__title {
  @extend %shared-styles;
  h3,
  p {
    text-align: center;
  }
  h3 {
    font-size: 1.75rem;
    font-weight: 600px;
    line-height: 42px;
    color: $blue-color;
  }
  p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 27px;
    color: $dark-color;
  }
  @include breakpoint(small) {
    p {
      font-size: 0.95625rem;
      line-height: 22.95px;
    }
  }
}
.form__data {
  @extend %shared-styles;
  gap: 10px;
  label {
    font-size: 1.1rem;
    font-weight: 400;
    color: $dark-color;
    line-height: 26.4px;
  }
  input {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #c9c9c9;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: $dark-color;
  }
  textarea {
    resize: none;
    outline: none;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    height: 100px;
    padding: 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: $dark-color;
  }
  @include breakpoint(small) {
    label {
      font-size: 0.9rem;
      line-height: 21.6px;
    }
    input,
    textarea {
      font-size: 0.8rem;
      line-height: 19.6px;
    }
  }
}

.form__button {
  border: none;
  padding: 15px;
  background-color: $blue-color;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: $font-inter;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 27px;
  @include breakpoint(small) {
    font-size: 0.95625rem;
    line-height: 27.9px;
  }
}
