// fonts
$font-inter: var(--font-inter);
// colors
$background-color: rgba(255, 255, 255, 1);
$dark-color: rgba(48, 50, 54, 1);
$blue-color: rgba(64, 100, 213, 1);
// BREAKING POINTS
$breakingpoints: (
  small: 567px,
  medium: 850px,
  large: 1025px,
);
@mixin breakpoint($point) {
  @media screen and (max-width: map-get($breakingpoints,$point)) {
    @content;
  }
}
@mixin min-max-breakpoint($from, $to) {
  @media only screen and (min-width: $from) and (max-width: $to) {
    @content;
  }
}
