@use "@/globalStyles/variables" as *;

.button {
  border: none;
  border-radius: 10px;
  font-family: $font-inter;
  font-size: 0.95625rem;
  font-weight: 600;
  line-height: 27.9px;
  cursor: pointer;
  background: linear-gradient(276deg, #7158e2 44.33%, #cd84f1 98.56%);
  color: #fff;
}
