@use "@/globalStyles/variables" as *;
.header-large {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 20px;
  @include breakpoint(small) {
    display: none;
  }
}
.header__contact {
  padding: 0px 6px 0px 30px;
  p,
  address {
    font-size: 0.86875rem;
    font-weight: 400;
    line-height: 19.2px;
    text-align: end;
    color: $dark-color;
  }
}
.header__button {
  padding: 11.6px 33px;
  font-size: 0.75rem;
  line-height: 16.8px;
}
