@use "@/globalStyles/variables" as *;
.footer {
  display: flex;
  padding: 50px 120px;
  justify-content: space-between;
  align-items: center;
  @include breakpoint(small) {
    flex-direction: column;
    gap: 10px;
    padding: 25px 0px 25px 30px;
    align-items: flex-start;
    overflow: hidden;
  }
}
.footer__title {
  p {
    font-size: 0.86875rem;
    font-weight: 400;
    line-height: 19.2px;
  }
}
.footer__logo {
  overflow: hidden;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__button {
  border: 2px solid $blue-color;
  padding: 10px 30px;
  background-color: #fff;
  color: $blue-color;
}
.footer__address {
  padding: 0px 6px 0px 30px;
  p,
  a {
    font-size: 0.86875rem;
    font-weight: 400;
    line-height: 19.2px;
    text-align: end;
    color: $dark-color;
  }
  @include breakpoint(small) {
    padding: 0px;
    p,
    a {
      text-align: start;
    }
  }
}
